@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&family=Work+Sans:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h4,p,a {
  color: #fff;
}


body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #000000;
}



ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*BOTONES DEL PROGRAMA*/

.btn{
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid  blueviolet;
  cursor: pointer;
}

.btn-light{
  background:  blueviolet;
}

.btn:hover{
  background:  blueviolet;
}

/*BOTON DISEÑO PRECIO*/

.btnn{
  margin: 10px;
  border-radius: 20%;
  padding: 12px 32px;
  font-size: 1.6rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid  blueviolet;
  cursor: pointer;
}

.btnn-light{
  background:  blueviolet;
}

.btnn:hover{
  background:  blueviolet;
}

/*BOTON CONTACTENOS*/

.btnnc{
  margin: 10px;
  border-radius: 20%;
  padding: 30px 32px;
  font-size: 1.6rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid  blueviolet;
  cursor: pointer;
}

.btnnc-light{
  background:  blueviolet;
}

.btnnc:hover{
  background:  blueviolet;
}

.btnncrud {
  margin: 10px;
  border-radius: 20%;
  padding: 30px 32px;
  font-size: 1.6rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid  blueviolet;
  cursor: pointer;
}

.btnncrud:hover{
  background:  rgb(226, 43, 43);
}

.btnncrudE {
  margin: 10px;
  border-radius: 20%;
  padding: 30px 32px;
  font-size: 1.6rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid  blueviolet;
  cursor: pointer;
}

.btnncrudE:hover{
  background:  rgb(43, 104, 226);
}

/*Letra del ModalUser*/
.Le{
  color: #000000;
}




