body {
    background-position: center center;
    background-color: rgb(2, 2, 19);
}

.perfilagente {
    margin-top: 30px;
    display: flex;
    padding: 25px;
    background-color: rgb(9, 9, 32);
    
    
}

.nombre {
    color: aliceblue;
    margin-top: 20px;
    padding: 25px
}

.telefono {
    color: aliceblue;
    padding-left: 25px;
    margin-top: 20px;
    
    
}
